<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uc.rosemajm.logincabin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AccountActivity"></activity>
        <activity
            android:name=".account_activity"
            android:label="@string/title_activity_account_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">

            <!-- Following tells android to use this Activity as the Main activity to be launched when app launches -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>